{% extends 'base.html' %}

{% block title_block %}
    Удаление заказа №{{ order.pk }}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Вы действительно хотите удалить заказ №{{ order.pk }}?</h1>
        <div>
            {{ object.customer_surname }} {{ object.customer_name }} {{ object.customer_patronymic }}
        </div>
        <button class="btn btn-danger" type="submit">Да</button>
    </form>
{% endblock %}

{% block additional_content %}
    <a class="btn btn-outline-success" href="{% url 'order_list_view' %}">Нет</a>
{% endblock %}