<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <p class="text-body-secondary">©2024</p>
    </div>

    <div class="col-md mb-3">
        <h5>Дополнительная информация</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'email_page' %}" class="nav-link p-0 text-body-secondary">Email</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        </ul>
    </div>
    <div class="col-md mb-3">
        <h5>Категории</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'email_page' %}" class="nav-link p-0 text-body-secondary">Email</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        </ul>
    </div>
    <div class="col-md mb-3">
        <h5>Проверка прав доступа</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{% url 'anon' %}" class="nav-link p-0 text-body-secondary">Аноним</a></li>
            <li class="nav-item mb-2"><a href="{% url 'auth' %}" class="nav-link p-0 text-body-secondary">Авторизованный</a></li>
            <li class="nav-item mb-2"><a href="{% url 'add' %}" class="nav-link p-0 text-body-secondary">Добавить товар</a></li>
            <li class="nav-item mb-2"><a href="{% url 'add_change' %}" class="nav-link p-0 text-body-secondary">Добавить и изменить товар</a></li>
            <li class="nav-item mb-2"><a href="{% url 'change_delivery_type' %}" class="nav-link p-0 text-body-secondary">Изменить способ доставки</a></li>
        </ul>
    </div>

</footer>