{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    {{ title }}
{% endblock %}

{% block content %}
    <a href="{% url 'category_create' %}" class="btn btn-outline-success">Добавить категорию</a>
    {% for category in categories %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <div class="card-body">
                    <a href="{% url 'category_detail' category.pk %}" class="btn btn-outline-dark">Подробнее</a>
                    <a href="{% url 'category_update' category.pk %}" class="btn btn-outline-secondary">Изменить</a>
                    <a href="{% url 'category_delete' category.pk %}" class="btn btn-outline-danger">Удалить (с подтверждением)</a>
                    <form method="post" action="{% url 'category_delete' category.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger">Удалить (сразу)</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}