{% extends 'base.html' %}
{% block title_block %}
{% endblock %}
{% block content %}

<h1>Регистрация</h1>

{% if messages %}
    <h1>Сообщение</h1>
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Зарегистрироваться">
    </form>
</div>

<a href="{% url 'user_login_page' %}">Авторизация</a>
{% endblock %}
